@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<section id="contact-area">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2>Contact-Me</h2>
            <hr>
            <p class="text-center">Hours</p>
            <hr>
            <p class="text-center">Monday-Friday: 7:00am to 7:30pm</p>
            <hr>
            <p class="text-center">Saturday: 7:00 to noon</p>
            <hr>
        </div>
    </div>
</section>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>