@{
    ViewBag.Title = "Home Page";
}

<section class="bg-danger" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>We Got What U need</h2>
                <hr>
                <p class="text-center">We sell Your Dream Bags,Shoes,Pants,Check It Out</p>
            </div>
        </div>
    </div>
</section>
<section class="left-col">
    <h2>kids</h2>
    <p>
        is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
</section>
<section class="sidebar">
    <section class="contact">
        <p>Nike <br class="break">Puma<br class="break">Ferrary<br class="break">Reebok<br class="break">Addidas<br class="break">Converse</p>
    </section>
</section>